---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h3>
				👋 Hello! I'm Josh, a final year medical student from Australia.
			</h3>
			<p>
				During the week, I enjoy playing netball, youth leading at my
				church, and learning as much about the world as I can,
				especially about history, linguistics and current affairs.
			</p>
			<p>
				I started this blog in 2021 as a means to build up my written
				expression, formulate opinions better and share my interests
				with others. I write on various topics, which are separated into
				three categories.
			</p>
			<ul>
				<li>
					As a full time medical student, my <a href="/medicine"
						>medical studies</a
					> play a big part in my life. I enjoy writing about the rotations
					I've done and observations on placement.
				</li>

				<li>
					I love learning in my spare time, especially about history
					and <a href="/linguistics">linguistics</a>. Furthermore, <a
						href="/linguistics/2021-11-05-tutoring"
						>here are details about my Latin tutoring services.</a
					>
				</li>

				<li>
					Finally, I write <a href="/opinion"
						>opinion pieces about pretty much anything</a
					> - from movie reviews and current affairs events, to memories
					growing up in Australia and holiday destinations - there are
					no limits within this category!
				</li>
			</ul>
			<p>
				You are very welcome to contact me, including for tutoring
				enquiries, through the form below. I'd love to hear your
				thoughts![Sitemap]
			</p>
		</main>
		<Footer />
	</body>
</html>
