---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Josh Poon. All rights reserved.
	<div class="social-links">
			<a href="https://www.linkedin.com/in/joshuapoon03" target="_blank">
  				<span class="sr-only">Connect with me on LinkedIn</span>
  				<svg viewBox="0 0 448 512" aria-hidden="true" width="32" height="32">
    			<path fill="currentColor"
      d="M100.28 448H7.4V149.3h92.88zM53.79 108.1C24.09 108.1 0 83.6 0 54.2 0 24.3 24.49 0 54.79 0s53.8 24.3 53.8 54.2c0 29.4-24.1 54-54.8 54zM447.9 448h-92.4V302.4c0-34.7-.7-79.4-48.4-79.4-48.4 0-55.8 37.8-55.8 76.9V448h-92.4V149.3h88.7v40.8h1.3c12.4-23.4 42.8-48.1 88.1-48.1 94.2 0 111.6 62 111.6 142.3V448z"
    />
  </svg>
</a>

<a href="https://www.instagram.com/medetymology" target="_blank" style="color:currentColor;">
  <span class="sr-only">Follow me on Instagram</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    width="32"
    height="32"
    fill="none"
    stroke="currentColor"
    stroke-width="1.8"
    stroke-linecap="round"
    stroke-linejoin="round"
    aria-hidden="true"
  >
    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
    <circle cx="12" cy="12" r="4"></circle>
    <circle cx="17.5" cy="6.5" r="1.5"></circle>
  </svg>
</a>
		</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
